.bartender-main-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bartender-view-container {
    width: 90%;
    max-width: 800px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 3px 5px #cccccc;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
}

.bartender-view-button {
    width: 100%;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bartender-view-show {
    display: block !important;
}
        
.bartender-view-button-table {
    height: 50px;
    font-size: 200%;
}

.bartender-view-button-order {
    height: 40px;
    font-size:150%;
    background-color: #dddddd;
    border-radius: 10px;
    margin-top: 10px;
}

.bartender-view-button-order-toggle {
    border-radius: 10px 10px 0px 0px !important;
}

.bartender-order-container {
    display: none;
}

.bartender-show-container {
    display: none;
}

.bartender-show-table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
}

.bartender-show-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.bartender-show-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.bartender-show-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.bartender-show-table tr:nth-child(even) {
    background-color: #dddddd;
}

.bartender-table-name, .bartender-order-name {
    margin-right: 5px;
}
