#logInForm {
    margin-top: 25%;
}

.login-container {
    display: inline-block;
    margin: 0 auto;
}

.login-input-container {
    width: 100%;
}

.login-input {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5px;
    font-size: 100%;
    border-radius: 20px;
    border-style:solid;
    border-color: lightgray;
}

.login-button {
    font-size: 110%;
}

