:root {
    --menu-window-background: white;
    --main-window-background:#F0F2F5;
    --main-category-background: grey;
    --filter-window-background: none;
    --filter-label-background:  #97704F;
    --product-window-background: none;
    --product-buy-button-color: white;
    --product-buy-button-background: black;
    --product-container-background: white;
    --footnote-window-background: white;
}

body {
    margin: 0;
}

#menu-window {
    user-select: none;
    padding: 20px;
}

#main-category, #sub-category  {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.main-category-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    border: 1px solid grey;
}

.main-category-box:hover {
    cursor: pointer;
    background-color: var(--main-category-background);
}

.main-category-box {
    width: 125px;
    height: 125px;
}

.main-category-img {
    width: 60%;
    height: 60%;
    padding-top: 10%;
    padding-bottom: 4%;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}

.main-category-color {
    background-color: var(--main-category-background);
}


.main-window {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--main-window-background);
}

#filter-window {
    width: 20%;
    background-color: var(--filter-window-background);
}

.filter-container {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 300px;
    min-width: 100px;
}

.filter-checkbox {
    margin: 0;
    margin-right: 5px;
}

.filter-checkbox:hover {

}

.filter-label {
    display: flex;
    padding: 8px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    height: 30px;
    border-radius: 15px;
    background-color: var(--filter-label-background);
}


.filter-checkbox-container {
}

.filter-name-container {
    display: flex
}

#product-window {
    background-color: var(--product-window-background);
    width: 53%;
    padding-left:2%;
    display: flex;
    flex-wrap: wrap;
}

.product-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 125%;
    display:block;
    overflow:hidden;
    text-overflow: ellipsis;
}

.product-img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
}

.product-container {
    margin: 10px;
    padding: 10px;
    height: 300px;
    width: 200px;
    border-radius: 5%;
    background-color: var(--product-container-background);
    box-shadow: 0px 3px 5px #cccccc;
}

.product-container-top {
    height: 75%;
}

.product-container-top-top {
    height: 25%;
    display: flex;
    align-items: center;
}

.product-container-top-bottom {
    height: 75%;
    display: flex;
    justify-content: center;
}

.product-container-top-bottom img {
    height: 100%;
}

.product-container-bottom {
    display: flex;
    height: 25%;
}

.product-container-bottom-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.product-container-bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}

.product-price {
    font-weight: bold;
}

.product-buy {
    width: 80%;
    height: 70%;
    border-radius: 5%;
    border: none;
    font-size: 125%;
    color: var(--product-buy-button-color);
    background-color: var(--product-buy-button-background);
}

#shopping-cart-window {
    width: 25%;
    display: flex;
    background-color: red;
}

.footnote-window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--footnote-window-background);
}
